<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/changepassword.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="main">
	<div class="dashboard">
		<b>Crudle</b>
		<a href="/portfolios">My Portfolios</a>
		<a class="active"> My Profile</a>
		<a href="/home">Home</a>
		<a href="/login" style="float:left;">Login</a>
		<a href="/logout" style="float:left;">Logout</a>
	</div>
	<div id="Change Password">
		<form method="post" action="/changepassword/changepassword/{{username}}" class="container">
			<h1>Change Password</h1>
			<label for="oldpassword"><b>Old Password</b></label>
			<input type="password" placeholder="Enter Password" name="oldpassword" required>
			<label for="newpassword"><b>New Password</b></label>
			<input type="password" placeholder="Enter Password" name="newpassword" required>
			<button type="submit" class="button">Change</button>
			<button type="button" onclick="history.go(-1)" class="button">Cancel</button>
		</form>
	</div>
</div>
</body>
</html>